doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title This is Home!
        link(rel="stylesheet", href="/styles.css")
    body 
        section.inner 
            h1.hello.removing Hello

            form#js-form.removing
                input(type="text", placeholder="What is your name?" required)
                button(type="submit") Submit 
            form#js-todo-form.removing
                input(type="text" placeholder="What is your main focus?") 
                button(type="submit") Add
            section
                h2 To Do
                ul#js-todo-lists 
            section 
                h2 Complete
                ul#js-complete-lists
        script(src="/home.js") 