mixin card(user)
    div.card
        .card__description 
            |#{user.username}
        .card__btns 
            a.card__btn(href=`/users/${user._id}/add`)
                i.fas.fa-user-plus.fa-lg
            a.card__btn(href=`/users/${user._id}/delete`)
                i.fas.fa-user-minus.fa-lg
            