mixin toDo(info)
    div.memo
        h2.memo__title #{info.title}
        h5.memo__description #{info.description}
        div.memo__btn 
            a(href=`/memo/${info.id}/delete`)
                i.fas.fa-trash.fa-lg 
        div.memo__btn
            a(href=`/memo/${info.id}/edit`)
                i.fas.fa-pen.fa-lg 