#jsMemoHeader {
    position: relative;
    height: 50px;
}

@keyframes showing {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slider-left {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-150%);
        opacity: 0;
    }
}

@keyframes slider-right {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes show-btn {
    0% {
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    100% {
        transform: translate(-170%, -140%);
        opacity: 1;
    }
}

@keyframes hide-btn {
    0% {
        transform: translate(-170%, -140%);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%);
        opacity: 0;
        // ?
        display: none;
    }
}

@keyframes hide-bar {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes go-complete-area {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }

    20% {
        opacity: .8;
        transform: translateX(-20%);
    }

    100% {
        opacity: 0;
        transform: translateX(120%);
    }
}

.clicked {
    left: 90%;
}

.btn-clicked {
    color: $blue_light;
    background-color: $white;
}

.hide {
    display: none;
}

.show {
    animation: showing .2s ease-in-out forwards;
}

.hide-slider {
    animation: slider-left .5s ease-in-out forwards;
}

.show-slider {
    animation: slider-right .4s ease-in-out forwards;
}

.init-hide {
    transform: translateX(-100%);
    opacity: 0;
    display: none;
}

.show-btn {
    animation: show-btn .2s ease-in-out forwards;
}

.hide-btn {
    animation: hide-btn .2s ease-in-out forwards;
}

.hide-bar {
    animation: hide-bar .2s ease-in-out forwards;

    &:disabled {
        cursor: default;
    }
}

.init-hide-bar {
    opacity: 0;

    &:disabled {
        cursor: default;
    }
}

.go-complete-area {
    animation: go-complete-area .6s ease-in-out forwards;
}