#jsMemoHeader {
    position: relative;
    height: 50px;
}

@keyframes showing {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slider-left {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-150%);
        opacity: 0;
    }
}

@keyframes slider-right {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

// delBtn Animation

@keyframes show-btn {
    0% {
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    100% {
        transform: translate(-170%, -140%);
        opacity: 1;
    }
}

@keyframes hide-btn {
    0% {
        transform: translate(-170%, -140%);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}

// goBtn Animation

@keyframes show-go-btn {
    0% {
        transform: translate(-50%, -50%);
        opacity: 0;
    }
    100% {
        transform: translate(-190%, -30%);
        opacity: 1;
    }
}

@keyframes hide-go-btn {
    0% {
        transform: translate(-190%, -30%);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}

@keyframes hide-bar {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes go-complete-area {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }

    20% {
        opacity: .8;
        transform: translateX(-20%);
    }

    100% {
        opacity: 0;
        transform: translateX(120%);
    }
}

@keyframes go-toDo-area {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }

    20% {
        opacity: .8;
        transform: translateX(20%);
    }

    100% {
        opacity: 0;
        transform: translateX(-120%);
    }
}

@keyframes status-focus {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.clicked {
    left: 90%;
}

.btn-clicked {
    color: $blue_light;
    background-color: $white;
}

.hide {
    display: none;
}

.show {
    animation: showing .2s ease-in-out forwards;
}

.hide-slider {
    animation: slider-left .5s ease-in-out forwards;
}

.show-slider {
    animation: slider-right .4s ease-in-out forwards;
}

.init-hide {
    transform: translateX(-100%);
    opacity: 0;
    display: none;
}

// delBtn Animation

.show-btn {
    animation: show-btn .2s ease-in-out forwards;
}

.hide-btn {
    animation: hide-btn .2s ease-in-out forwards;
}

// goBtn Animation

.show-go-btn {
    animation: show-go-btn .2s ease-in-out forwards;
}

.hide-go-btn {
    animation: hide-go-btn .2s ease-in-out forwards;
}


.hide-bar {
    animation: hide-bar .2s ease-in-out forwards;

    &:disabled {
        cursor: default;
    }
}

.init-hide-bar {
    opacity: 0;

    &:disabled {
        cursor: default;
    }
}

.go-complete-area {
    animation: go-complete-area .6s ease-in-out forwards;
}

.go-toDo-area {
    animation: go-toDo-area .6s ease-in-out forwards;
}

.status-focus {
    animation: status-focus 1s ease-in-out; 
}


/* CLICK BTN EVENT */

@keyframes down-btn {
    0% {
        box-shadow: 2px 2px 2px 0px #34495e;
    }
    25% {
        box-shadow: 1.5px 1.5px 5px 1px #34495e;
    }
    50% {
        box-shadow: 0px 0px 1px 1px #34495e;
    }
    75% {
        box-shadow: inset 0px 0px 5px 1px #34495e;
    }
    100% {
        box-shadow: inset 0.5px 0.5px 5px 1px #34495e;
    }
}

@keyframes up-btn {
    0% {
        box-shadow: inset 0.5px 0.5px 5px 1px #34495e;
    }
    25% {
        box-shadow: inset 0px 0px 5px 1px #34495e;
    }
    50% {
        box-shadow: 0px 0px 1px 1px #34495e;
    }
    75% {
        box-shadow: 1.5px 1.5px 5px 1px #34495e;
    }
    100% {
        box-shadow: 2px 2px 2px 0px #34495e;
    }
}

.down-btn {
    animation: down-btn .2s ease-in-out forwards;
}

.up-btn {
    animation: up-btn .2s ease-in-out forwards;
}

/* Rotate Icon Event */ 

@keyframes clockwise {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(180deg);
    }
}

.clockwise {
    animation: clockwise .3s ease-in-out forwards;
}

@keyframes anticlockwise {
    0% {
        transform: rotateZ(180deg);
    }
    100% {
        transform: rotateZ(0);
    }
}

.anticlockwise {
    animation: anticlockwise .3s ease-in-out forwards;
}

// Btn Fix 
.fixed {
    transform: translate(-190%, -30%);
}