body {
    width: 100vw;
    height: 100vh;
    font-size: 20px;
    font-weight: 600;
    display: grid;
    grid-template-rows: 0.5fr 8fr 1fr 0.5fr;
    background-color: $blue_light;
    color: $white;
    > .main {
        transition: all .3s ease-in-out;
    }
    > .main:hover {
        background-color: $white;
        color: $gray_heavy;
    }
    .header,
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.btn {
    margin-top: 10px;
        width: 70px;
        height: 38px;
        border: 1px solid $gray_light;
        border-radius: 10px;
        outline: none;
        background-color: $white_heavy;
        font-weight: 600;
}