.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 100px;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid $white;
    border-radius: 10px;
    .card__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $gray_heavy;
        font-size: 1rem;
        text-decoration: none;
        &:first-child {
            background-color: $white;
        }
        &:last-child {
            cursor: pointer;
        }
    }
}