.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 100px;
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid $blue_heavy;
    border-radius: 10px;
    .card__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 38px;
        border: 1px solid $gray_light;
        border-radius: 10px;
        outline: none;
        background-color: $white_heavy;
        font-weight: 600;
        color: $gray_heavy;
        font-size: 1rem;
        text-decoration: none;
        &:first-child {
            background-color: $white;
        }
        &:last-child {
            cursor: pointer;
        }
    }
}