.memo-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    width: 200%;
    height: 100%;

    .memo-container__toDo {
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .memo-container__completed {
        overflow-y: auto;
        box-sizing: border-box;
        padding-top: 70px;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.memo-section {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;

    .memo {
        transition: all .5s ease-in-out;
    }

    .memo__description,
    .memo__title {
        display: flex;
        align-items: center;
        padding: 10px 22px;
    }
}

.memo {
    display: grid;
    grid-template-columns: 200px 300px 1fr 1fr 1fr 1fr;
    grid-template-areas: "title description option delete edit completed";
    grid-gap: 5px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px;

    .btn {
        justify-self: center;
        align-self: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .input {
        height: 50px;
        transition: border .2s ease-in-out;
    }

    .input:focus {
        border: 2px solid #0984e3;
    }

    .memo__title {
        grid-area: title;
    }

    .memo__description {
        grid-area: description;
    }

    .memo__option {
        grid-area: option;
    }

    .memo__delete {
        grid-area: delete;
    }

    .memo__edit {
        grid-area: edit;
    }

    .memo__completed {
        grid-area: completed;
    }
}

.memo-header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.memo-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px;
    color: inherit;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.input-box {
    display: flex;
    align-items: center;
}

.input {
    height: 40px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    outline: none;
    background: inherit;
    color: $white;
    font-size: 19px;
    font-weight: 600;

    &::placeholder {
        font-size: 15px;
        font-weight: 600;
        color: $white;
    }
}