.memo-section {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    .memo {
        border: 2px solid $white;
        transition: all .5s ease-in-out;
    }
    .memo__description,
    .memo__title {
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: 1.1em;
    }
}

.memo {
    display: grid;
    grid-template-columns: 3fr 4fr 1fr 1fr 1fr;
    grid-gap: 5px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    .memo__btn {
        margin: 10px auto;
    }
}

.memo-header {
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.memo-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray_heavy;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.input-box {
    width: 80%;
}

.input {
    width: 80%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    border: 2px solid $blue_light;
    border-radius: 10px;
    outline: none;
    &::placeholder {
        font-size: 15px;
        font-weight: 600;
        color: $blue_light;
    }
}