.search__box {
    display: flex;
    align-items: flex-start;
    height: 100%;
    .user-profile {
        box-sizing: border-box;
        padding: 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.search-container {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 100%;
    .search__border-box {
        box-sizing: border-box;
        border: 2px solid $white;
        border-radius: 20px;
        width: 100%;
        height: 100%;
    }
}

.search-bar {
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-result {
    max-width: 80%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.search-result__container  {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}