.search__box {
    display: flex;
    align-items: flex-start;
    height: 100%;
    .user-profile {
        box-sizing: border-box;
        padding: 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.search-container {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 100%;
    .search__border-box {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        border-radius: 20px;
        width: 100%;
        height: 100%;
    }
}

.search-bar {
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-result {
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.search-result__container  {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(10, 1fr);
}

.search-result__card {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    &:hover {
        background-color: $white;
        color: $blue-light;
    }
    .search-result__card-btns {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}