.memo {
    display: grid;
    grid-template-columns: 2fr 6fr 1fr 1fr;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    .memo__btn {
        margin: 10px auto;
    }
}
