body {
    background-color: #F9F5C2;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    width: 100%;
    height: 100%;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    padding: 40px 0px;
    border-bottom: 2px solid #EE8B6A;
    color: #535c68;
}

form {
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid #6FAAAC;
}

#js-todo-lists li {
    padding: 7px 0px;
}