.nav {
    display: flex;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 50px;
    border: 1px solid var(--color-bg-secondary);
}

.nav__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nav__main {
    position: absolute;
    background-color: var(--color-bg);
    z-index: 1;
}

.nav__sub {
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: -1;
}