extends base.pug

block content 
    form(method="POST")
        input(type="text", placeholder="Title", name="title")
        input(type="text", placeholder="Description", name="description")
        input(type="text", placeholder="Hashtags, seperated by comma.", name="hashtags")
        input(type="submit", value="Submit")