doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        title #{pageTitle} | #{user ? user.username : "비회원"}
    body 
        header 
            h1=pageTitle 
        main 
            if (errorMessage)
                p=errorMessage 
            block content 
        
        footer 
            include partials/nav.pug