extends base.pug

block content 
    form(method="POST")
        input(name="title", type="text", placeholder="Title", value=toDo.title)
        input(name="description", type="text", placeholder="Description", value=toDo.description)
        input(name="hashtags", type="text", placeholder="Hashtags", value=toDo.hashtags.join())
        input(type="submit", value="Submit!") 