extends base.pug

block content 
    form(method="POST")
        input(name="title", type="text", placeholder="Title", value=toDo.title)
        input(name="description", type="text", placeholder="Description", value=toDo.description)
        input(name="hashtags", type="text", placeholder="Hashtags", value=toDo.hashtags.join())
        hr
        p 완료 여부를 선택해주세요.
        input(type="radio", id="completed", name="completed", value="true", checked=toDo.meta.completed)
        label(for="completed") 완료  
        input(type="radio", id="notCompleted", name="completed", value="false", checked=(!toDo.meta.completed))
        label(for="notCompleted") 미완   
        hr
        p 우선순위를 선택해주세요.
        input(type="radio", id="priority", name="priority", value="1", checked=(toDo.meta.priority === 1 ? true : false ))
        label(for="priority") 낮음
        input(type="radio", id="priority", name="priority", value="2", checked=(toDo.meta.priority === 2 ? true : false ))
        label(for="priority") 보통
        input(type="radio", id="priority", name="priority", value="3", checked=(toDo.meta.priority === 3 ? true : false ))
        label(for="priority") 높음
        input(type="submit", value="Submit!") 