extends base

block content 
    form.form(method="POST")
        input.form__input(type="text", placeholder="Username", name="username" required)
        input.form__input(type="email", placeholder="Email", name="email", required)
        input.form__input(type="password", placeholder="Password", name="password", required)
        input.form__input(type="password", placeholder="Verify Password", name="password2", required)        
        input.form__input(type="text", placeholder="Location", name="location", required)
        input.form__btn(type="submit", value="Join")