extends base 

block content 
    form(method="POST").form
        input.form__input(type="email", placeholder="이메일", name="email", required)
        input.form__input(type="password", placeholder="패스워드", name="password", required)
        input.form__btn(type="submit", value="로그인")