extends base 

block content 
    .form__container  
        form.form#jsFormContainer(method="POST")
            input.form__input(type="email", placeholder="이메일", name="email", required)
            input.form__input(type="password", placeholder="비밀번호", name="password", required)
            input.btn.form__btn#jsFormBtn(type="submit", value="로그인")

block script
   script(src="/static/js/main.js")