extends base.pug
include mixins/toDo.pug

block content 
    section.memo-container#jsMemoContainer 
        section.memo-container__toDo#jsMemoContainerToDo  
            header.memo-header#jsMemoHeader 
                .input-box.hide#jsMemoInputBox 
                    input.input(type="text", placeholder="할 일")
                    input.input(type="text", placeholder="세부정보")
                button.btn.memo-btn#jsMemoBtn 
                    i.fas.fa-plus#jsMemoIcon 
            main.memo-notComplete#jsMemoMain  
                section.memo-section
        section.memo-container__completed#jsMemoContainerCompleted 
            h1 Completed! 


block side-bar 
    section.side-bar__container#jsSideBarContainer 
        .side-bar__toDo#jsSideBarToDo
            button.btn.side-bar__btn.side-bar__btn-left.init-hide-bar#jsSideBarToDoBtn(disabled)
                span.side-bar__span 할 일
        .side-bar__status
        .side-bar__completed#jsSideBarCompleted
            button.btn.side-bar__btn.side-bar__btn-right#jsSideBarCompletedBtn
                span.side-bar__span 한 일

block script 
    script(src="/static/js/main.js")
            