extends base.pug
include mixins/toDo.pug

block content 
    header.memo-header#jsMemoHeader 
        button.btn.memo-btn#jsMemoBtn 
            i.fas.fa-plus#jsMemoIcon 
        div.input-box.hide#jsMemoInput
            input.input(type="text", placeholder="할 일")
            input.input(type="text", placeholder="세부정보")
    main.memo-notComplete#jsMemoMain  
        section.memo-section
            for m in main   
                +toDo(m)
    aside.memo-complete 
        section.memo-section 
            for a in aside 
                +toDo(a)

block script 
    script(src="/static/js/main.js")
            