extends base.pug
include mixins/toDo.pug

block content 
    a(href="/memo/add") Add Memo!  
    main   
        section 
            for m in main   
                +toDo(m)
            else
                h2 할 일이 없습니다..
    hr
    aside 
        section  
            for a in aside 
                +toDo(a)
            else
                h2 할 일이 없습니다..