extends base.pug
include mixins/toDo.pug

block content 
    a.btn.memo-btn(href="/memo/add") 메모 추가 
    main   
        section.memo-section
            for m in main   
                +toDo(m)
            else
                h2 할 일이 없습니다..
    aside 
        section.memo-section 
            for a in aside 
                +toDo(a)
            else
                h2 할 일이 없습니다..