extends base.pug
include mixins/toDo.pug

block content 
    header.memo-header#jsMemoHeader 
        .input-box.hide#jsMemoInputBox 
            input.input(type="text", placeholder="할 일")
            input.input(type="text", placeholder="세부정보")
        button.btn.memo-btn#jsMemoBtn 
            i.fas.fa-plus#jsMemoIcon 
    main.memo-notComplete#jsMemoMain  
        section.memo-section

block side-bar 
    section.side-bar__container 
        button.btn.side-bar__btn 
            i.fas.fa-chevron-left
        .side-bar__status 
        button.btn.side-bar__btn 
            i.fas.fa-chevron-right 

block script 
    script(src="/static/js/main.js")
            