extends base.pug
include mixins/toDo.pug

block content 
    header.flex-center#jsMemoHeader 
        button.btn.memo-btn#jsMemoBtn 
            i.fas.fa-plus
    main.memo-notComplete 
        section.memo-section
            for m in main   
                +toDo(m)
            else
                h2 할 일이 없습니다..
    hr
    aside.memo-complete 
        section.memo-section 
            for a in aside 
                +toDo(a)
            else
                h2 할 일이 없습니다..