extends base.pug
include mixins/toDo.pug

block content 
    main  
        a(href="/memo/add") Add Memo!
    aside  
        for toDo in toDos 
            +toDo(toDo)
        else
            h1 Nothing found in your memo..