extends base.pug

block content 
    main 
        a(href="/login") Login  
    
    aside 
        h3 Authentication 
        ul 
            li  
                a(href="")
                    i.fab.fa-github-alt.fa-2x
                    |Github Authentication 
            li     
                a(href="") 
                    i.fas.fa-user-circle.fa-2x 
                    |Local Authentication 
