extends base.pug

block content 
    main 
        section 
            i.fab.fa-github-alt.fa-2x
            |Github Authentication
        section 
            i.fas.fa-user-circle.fa-2x 
            |Local Authentication 

block script 
    script(src="/nav.js") 
    script(src="https://kit.fontawesome.com/6478f529f2.js", crossorigin="anonymous")