ul.nav 
    h2 navigation 

    li 
        a(href="memo") User Memo 
    li 
        a(href="detail") User Detail Database 
    li 
        a(href="search") User Search 
    li 
        a(href="chat") Realtime Chat