ul.nav.init-hide#jsNavUl 
    
    if !loggedIn
        li.nav__home.btn.nav__btn 
            a(href="/")
                i.fas.fa-home.fa-lg 
        li.nav__login.btn.nav__btn 
            a(href="/login") 
                i.fas.fa-user.fa-lg
        li.nav__join.btn.nav__btn 
            a(href="/join")
                i.fas.fa-user-plus.fa-lg 
    else 
        li.btn.nav__btn 
            a(href=`/users/${user._id}/memo`)
                i.far.fa-sticky-note.fa-lg 
        li.btn.nav__btn 
            a(href=`/users/${user._id}/user`)
                i.fas.fa-user-friends.fa-lg 
        li.btn.nav__btn 
            a(href="/logout")
                i.fas.fa-power-off.fa-lg 