ul.nav 
    h2 네비게이션 

    if !loggedIn
        li 
            a(href="/login") 로그인
        li 
            a(href="/join") 회원가입
    else 
        li 
            a(href=`/users/${user._id}/memo`) 메모장 
        li 
            a(href=`/users/${user._id}/detail`) 내 정보 
        li 
            a(href="/users/search") 친구
        li 
            a(href="/logout") 로그아웃