section.nav 
    a(href="").btn.nav__btn.nav__main.showing
        i.far.fa-user.fa-2x

    a(href="").btn.nav__btn.nav__sub.nav__search
        i.fas.fa-search.fa-lg

    a(href="/users/memo").btn.nav__btn.nav__sub.nav__memo
        i.far.fa-sticky-note.fa-lg